<section>
	<ng-container *ngIf="list; else listNotFound">
		<div class="title-bar">
			<h1 class="title-bar__heading">
				{{list.name}}
			</h1>

			<div class="title-bar__actions">
				<button
						(click)="formVisible = true"
						aria-label="Edit list"
						class="icon-btn">
					<span class="icon icon--edit"></span>
				</button>

				<button
						(click)="showDeleteDialog(true)"
						aria-label="Delete list"
						class="icon-btn">
					<span class="icon icon--delete"></span>
				</button>
			</div>
		</div>

		<div class="u-tutorial u-mb-24">
			<p>
				{{searchMsg}}
			</p>

			<a
					[routerLink]="'/search'"
					aria-label="Search for videos"
					class="btn btn--primary">
				<span class="icon icon--search"></span>
				Search
			</a>
		</div>

		<ul
				*ngIf="videos && videos.length > 0"
				aria-label="Videos"
				class="list container container--narrow">
			<li
					*ngFor="let video of videos; index as i;"
					class="list__item">
				<app-video-card
						[isFirst]="i === 0"
						[isLast]="i === videos.length - 1"
						[video]="video"
						(add)="addVideoToList(video)"
						(remove)="prepareVideoForRemoval(video)"
						(moveUp)="moveVideo(i, -1)"
						(moveDown)="moveVideo(i, 1)">
				</app-video-card>
			</li>
		</ul>
	</ng-container>
</section>


<ng-template #listNotFound>
  <div
			*ngIf="!loading"
			class="u-zero-state">
    Sorry, couldn't find this list.
  </div>
</ng-template>


<dialog
    #deleteDialog
		class="dialog u-text-center">
  <h2 class="dialog__heading">
    <ng-container *ngIf="aboutToDeleteList">
      Delete list?
    </ng-container>

    <ng-container *ngIf="!aboutToDeleteList">
      Remove video?
    </ng-container>
  </h2>

  <p
			class="u-mb-32">
    <span *ngIf="aboutToDeleteList">
      Are you sure you want to delete this list?
    </span>

    <span *ngIf="!aboutToDeleteList">
      Are you sure you want to remove this video from the list?
    </span>
  </p>

	<div class="form__actions">
		<button
				(click)="dialogEl.close()"
				class="btn btn--flat">
			Cancel
		</button>

		<button
				*ngIf="aboutToDeleteList"
				[disabled]="deletingList"
				(click)="deleteList()"
				class="btn btn--danger">
			Delete
		</button>

		<button
				*ngIf="!aboutToDeleteList"
				[disabled]="removingVideo"
				(click)="removeVideo()"
				class="btn btn--danger">
			Remove
		</button>
	</div>
</dialog>


<app-list-dialog
    *ngIf="list && formList"
    [formList]="formList"
    [show]="formVisible"
    (hidden)="formVisible = false">
</app-list-dialog>


<app-add-to-list
    [show]="showAddToListDialog"
    [video]="video"
    (hidden)="showAddToListDialog = false">
</app-add-to-list>
