@use '../base/colors' as c;

.banner {
	$text-color: c.$color-neutral-2;

	--icon-color: #{$text-color};
	--icon-btn-size: 1.5em;
	--a-color: #{c.$color-blue-800};

	background-color: #ffe8b3;
	border-radius: 12px;
	color: $text-color;
	display: flex;
	font-size: 1.4rem;
	gap: 16px;
	padding: 16px;
}
