@use '../abstracts' as *;
@use '../base/colors';


.dialog {
	--card-padding: 48px 32px;

	@include card;

	border: none;
	color: var(--color-text);
	margin: auto;
	max-width: min(80%, 600px);
	min-width: 300px;

	&::backdrop {
		background-color: rgba(colors.$color-neutral-1, .3);
	}

	&__heading {
		@include heading(2);

		margin-bottom: 32px;
		text-align: center;
	}
}
