<section>
	<ng-container *ngIf="sortedFilteredVideoLists$ | async as videoLists">
		<div class="title-bar">
			<h1 class="title-bar__heading">
				Lists
			</h1>

			<div class="title-bar__actions">
				<button
						*ngIf="listCount > 0"
						(click)="listDialogVisible = true"
						aria-label="Add a list"
						class="icon-btn">
					<span class="icon icon--add"></span>
				</button>
			</div>
		</div>

		<!-- Zero state -->
		<ng-container *ngIf="listCount === 0">
			<div class="u-tutorial">
				<div *ngIf="tutorial">
					<p class="u-mb-24">
						To get started add a new list, then head on over to the search page to search for movies and TV shows to add to your list.
					</p>
				</div>

				<button
						(click)="listDialogVisible = true"
						class="btn btn--primary">
					<span class="icon icon--add"></span>

					Add a list
				</button>
			</div>
		</ng-container>

		<ng-container *ngIf="listCount > 0">
			<div class="lists__actions">
				<div class="search-wrapper lists__filter">
					<label
							class="u-sr-only"
							for="search-filter">
						Search your lists
					</label>

					<input
							[formControl]="listFilter"
							autocomplete="off"
							class="input"
							id="search-filter"
							placeholder="Search your lists..."
							type="text">
				</div>

				<div class="select-wrapper">
					<label
							class="u-sr-only"
							for="lists-sort">
						Sort lists
					</label>

					<span class="icon icon--chevron"></span>

					<select
							[formControl]="listSort"
							class="select"
							id="lists-sort">
						<option
								*ngFor="let sortOption of listSortOptions"
								[ngValue]="sortOption.id">
							{{sortOption.label}}
						</option>
					</select>
				</div>
			</div>

			<ul class="lists__ul">
				<li
						*ngFor="let videoList of videoLists; trackBy: identifyList"
						class="lists__li">
					<a
							[routerLink]="['/list', videoList.id]"
							class="list">
						<h2 class="list__name">
							{{videoList.name}}
						</h2>

						<p class="u-sr-only">
							{{videoList.videoIDs.length | i18nPlural : videoCountPluralStringMap}}
						</p>

						<div
								*ngIf="videoList.videoIDs && videoList.videoIDs.length > 0"
								class="list__posters">
							<ng-container *ngFor="let videoID of videoList.videoIDs">
								<img
										*ngIf="videoPosterSources[videoID] as posterSources"
										class="list__poster"
										role="presentation"
										sizes="100px"
										src="{{posterSources['poster'].src}}"
										srcset="{{posterSources['poster'].srcSet}}">
							</ng-container>
						</div>
					</a>
				</li>
			</ul>
		</ng-container>
	</ng-container>
</section>


<app-list-dialog
    [show]="listDialogVisible"
    (hidden)="listDialogVisible = false">
</app-list-dialog>
