<section>
	<h1 class="heading-1">
		Search
	</h1>

	<p class="u-mb-32">
		{{searchMsg}}
		You can search by name, actor or director.
	</p>

	<div
			*ngIf="showBanner"
			class="banner u-mb-24">
		<p [innerHTML]="apiKeyMsg"></p>

		<div class="banner__actions">
			<button
					(click)="dismissBanner()"
					aria-label="Dismiss banner"
					class="icon-btn">
				<span class="icon icon--close"></span>
			</button>
		</div>
	</div>

	<label
			class="u-sr-only"
			for="video-search-input">
		Search
	</label>

	<div class="container container--narrow">
		<div class="search-wrapper u-mb-24">
			<span class="icon icon--search"></span>

			<input
					[formControl]="inputFormControl"
					(input)="inputHandler($event)"
					aria-description="Search results will appear below"
					autocomplete="off"
					class="search"
					id="video-search-input"
					placeholder="Search movies & TV shows..."
					type="search">
		</div>

		<p
				*ngIf="noResults && !error"
				aria-live="polite"
				class="u-text-center">
			No results found.
		</p>

		<p
				*ngIf="error"
				aria-live="polite"
				class="u-text-center u-error">
			{{error}}
		</p>

		<div
				#resultsFeed
				[attr.aria-busy]="ariaBusy"
				(scrolled)="infiniteScrollHandler()"
				infiniteScroll
				aria-label="Search results"
				class="list"
				role="feed">
			<div
					*ngFor="let video of results; index as i"
					attr.aria-label="{{video.title}}"
					attr.aria-posinset="{{i + 1}}"
					attr.aria-setsize="{{results.length}}"
					role="article"
					tabindex="0">
				<app-video-card
						[video]="video"
						(add)="addVideoToList(video)">
				</app-video-card>
			</div>
		</div>
	</div>
</section>


<app-add-to-list
    [show]="showAddToListDialog"
    [video]="videoToAdd"
    (hidden)="showAddToListDialog = false">
</app-add-to-list>
