@use '../../../scss/abstracts' as *;


.video-card {
	$border-radius: 6px;
	$switch-bp: 350px;

	--icon-btn-size: 24px;
	--icon-size: 2em;

	@include card;

	display: flex;
	gap: var(--video-card-gap, 16px);

	@include mq($until: $switch-bp) {
		align-items: center;
		flex-direction: column;
	}

	@include mq($from: tablet) {
		--icon-size: 2em;
		--video-card-gap: 24px;
	}

	@include mq($until: tablet) {
		--card-padding: 16px;
	}

	&__a {
		border: 2px solid var(--video-card-link-border-color, transparent);
		border-radius: $border-radius;
		display: block;
		transition: border $transition;

		&:focus-visible,
		&:hover {
			--video-card-link-border-color: var(--color-interacting);
		}
	}

	&__img-wrapper {
		aspect-ratio: 2 / 3;
		max-width: 120px;

		@include mq($switch-bp) {
			width: 50%;
		}
	}

	&__img {
		border-radius: $border-radius;
		display: block;
		width: 100%;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		gap: var(--video-card-bottom-gap, 16px);
		justify-content: space-between;
		width: 100%;

		@include mq($until: $switch-bp) {
			--video-card-bottom-gap: 40px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--video-card-content-gap, 16px);

		@include mq($until: $switch-bp) {
			align-items: center;
		}

		@include mq($from: tablet) {
			--video-card-content-gap: 24px;
		}
	}

	&__name {
		@include heading(3);

		@include mq($until: tablet) {
			font-size: 1.6rem;
		}
	}

	&__actions {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: flex-end;
	}

	&__move-up-btn {
		transform: scaleY(-1);
	}
}
