<div
		*ngIf="video"
		class="video-details">
	<!-- Type -->
	<div class="video-details__detail">
		<ng-container *ngIf="isMovie">
			<span class="icon icon--movie"></span>
			<span class="u-sr-only">movie</span>
		</ng-container>

		<ng-container *ngIf="!isMovie">
			<span class="icon icon--tv"></span>
			<span class="u-sr-only">TV show</span>
		</ng-container>
	</div>


	<!-- Dates -->
	<div
			*ngIf="releaseYear"
			class="video-details__detail">
		{{releaseYear}}
		<span *ngIf="endYear">
			- {{endYear}}
		</span>
	</div>


	<!-- Runtime -->
	<div
			*ngIf="runtime?.[0] !== ''"
			class="video-details__detail">
		<span aria-hidden="true">
			{{runtime?.[0]}}
		</span>

		<span class="u-sr-only">
			{{runtime?.[1]}}
		</span>
	</div>


	<!-- Seasons -->
	<div
			*ngIf="video.seasons"
			class="video-details__detail">
		{{video.seasons | i18nPlural: seasonCountPluralStringMap}}
	</div>


	<!-- Rating -->
	<div
			*ngIf="video.rating"
			class="video-details__detail">
		<span class="u-sr-only">Rated {{video.rating | number : '1.0-1'}}</span>
		<span aria-hidden="true">{{video.rating | number : '1.0-1'}}</span>
	</div>


	<!-- Status -->
	<div
			*ngIf="extended && video.status"
			class="video-details__detail">
		{{video.status}}
	</div>
</div>
