@use '../../../scss/abstracts' as *;
@use '../../../scss/base/colors' as c;

@mixin bullet {
	$size: .35em;

	background-color: c.$color-grey-2;
	border-radius: 50%;
	content: '';
	height: $size;
	margin: 0 var(--video-detail-before-side-margin, .5em);
	width: $size;
}

.video-details {
	$block: &;

	display: flex;
	font-size: 2.5em;

	&:not(&--inline) {
		flex-direction: column;
		gap: 12px;
	}

	@include mq($until: tablet) {
		flex-direction: column;
		gap: 12px;
	}

	&__block {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	&__detail {
		align-items: center;
		display: flex;

		&:not(:last-child)::after {
			@include bullet;
		}
	}

	&__rating {
		align-items: center;
		display: flex;
		gap: .5em;
	}

	&__icon {
		margin-top: -.2em;

		&--type {
			--icon-size: 1.75em;
		}

		&--star {
			--icon-size: 1em;
			--icon-color: #{c.$color-yellow-700};
		}
	}

	&--inline #{$block}__block {
		&:not(:last-child)::after {
			@include mq(tablet) {
				@include bullet;
			}
		}
	}
}
