@use '../../../scss/abstracts' as *;
@use '../../../scss/base/colors' as c;


.settings {
	&__attribution {
		--icon-size: 6em;

		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: .5ch;

		.icon {
			height: 1.5em;
		}
	}

	&__btns {
		display: flex;
		gap: 24px;

		@include mq($until: tablet) {
			flex-direction: column;
		}
	}

	&__drop-area {
		--icon-size: 35px;

		align-items: center;
		border: 1px dashed c.$color-grey-2;
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 24px;
		padding: 40px;
		text-align: center;
		transition: background-color $transition, border $transition, color $transition;

		&--active {
			--icon-color: var(--color-text-inverted);

			background: var(--color-interacting);
			border: 1px solid var(--color-interacting);
			color: var(--color-text-inverted);
		}
	}
}

.setting {
	align-items: center;
	border: 1px solid c.$color-grey-2;
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: space-between;
	margin: 24px 0;
	padding: 16px;
}
